<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Justin Boyer Portfolio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>
        <h1 id="tittle">Justin Boyer Portfolio</h1>
        <!--
        <nav>
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="https://github.com/vetronus/heroku-flask-template">SOURCE CODE(GitHub)</a></li>
                <li><a href="http://parthsarthee.com/">PARTH SARTHEE(Author)</a></li>
                <li><a href="http://aroxbit.com">AROXBIT(Awesome Indie Startup)</a></li>
            </ul>
        </nav>
        -->
        <h2>What I enjoy</h2>
        <p>
            Using my creativity to brainstorm products and my analytical side to bring them into a reality.
        </p><br>
        <h3>You can see my work experience at: <a href="https://www.linkedin.com/in/justin-l-boyer/">LinkedIn</a></h3>
    </body>
</html>